.ContactData {
    text-align: center;
    width: 80%;
    margin: auto;
    box-shadow: 0 1px 9.5px #a99d9d;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}

.Row {
    width: 100%;
}

